.addIngredient {
  margin: 10px 0;

  .genericInput {
    border: none;
    border-bottom: 1px solid red;
    background-color: transparent;
  }
  
  a {
    border: 1px solid purple;
    border-radius: 5px;
  }
}
