@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Permanent+Marker|Sacramento');

$font-header: 'Permanent Marker', cursive;
$font-stack: 'Sacramento', cursive;
$font-recipeTitle: 'Fredericka the Great', cursive;
$primary-color: #fff;
$first-color: #033F63;
$second-color: #FA7921;
$third-color: #FDE74C;
$fourth-color: #9BC53D;
$background-color: #F0FD72;
$genericMargin: 10px;

body {
  color: $primary-color;
  background-color: $background-color;
}

.title {
  font: 300% $font-header;
  color: $first-color;
  text-align: center;
}

.recipeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid brown;
}

.addForm {
  margin: $genericMargin;
  color: #000;
}

.addNewRecipeBtn {
  div {
    font: 100% $font-header;
    display: none;
  }
  button:hover + div {
    display: inline-block;
  }
}

button {
  padding: 0 4px;
  background-color: transparent;
  border: 2px solid $first-color;
  border-radius: 20px;
  i {
    color: $first-color;
  }
  &:hover {
    background-color: $first-color;
    i {
      color: $second-color;
    }
  }
}

.description {
  font-size: 120%;
  font-family: $font-stack;
}

input {
  font-size: 140%;
  font-family: $font-stack;
  border: none;
  border-bottom: 2px solid $first-color;
  background-color: transparent;

  &:focus {
    border: none;
    border-bottom: 3px solid $second-color;
  }

  &:focus {
    outline: none;
  }
}

textarea {
  font-size: 120%;
  font-family: $font-stack;
  color: $primary-color;
  width: 100%;
  border: none;
  background-color: $first-color;
  border-radius: 15px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  &:focus {
    outline: none;
    border: 3px solid $second-color;
    border-radius: 15px;
  }
}

.addIngredient {
  margin: 10px 0;
  input {
    width: 85%;
  }
  button {
    width: 15%;
  }
}

.addFormTitle {
  margin: 10px 0;
  input {
    width: 100%;
  }
}

.recipesList {
  color: #000;
  background-color: #F7EA6B;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.ingredientsName {
  font-size: 140%;
  font-family: $font-stack;
}

.singleRecipe {
  font-size: 140%;
  font-family: $font-recipeTitle;
  margin: $genericMargin;
  width: 300px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  background-color: #6BF178;
  padding: 5px;

  i {
    display: none;
  }

  &:hover {
    i {
      display: inline;
    }
  }
}

.modal-content {
  background-color: #78E3FD;
  padding: 10px;
}
