@import url(https://fonts.googleapis.com/css?family=Gruppo);
@import url(https://fonts.googleapis.com/css?family=Coda);

$font-header: 'Gruppo', cursive;
$font-stack: 'Coda', cursive;
$primary-color: #333;
$secondary-color: #467386;
$background-color: #D4A26A;
$border-img: 3px solid #0F3B4E;
$border-table: 2px solid #0F3B4E;
$border-radius: 10px;
$row-height: 30px;

body {
  font: 150% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

.table-div {
  margin: 30px 0;
  padding-top: 20px;
  border: $border-img;
  border-radius: $border-radius;
}

th {
  font: 150% $font-header;
  color: $secondary-color;
  height: $row-height;
  text-align: center;
  border-bottom: $border-table !important;
}

caption {
  font: 150% $font-header;
  color: $secondary-color;
  text-align: center;
}

tbody>tr {
  color: $secondary-color;
  height: $row-height;
  &:hover {
    font: 120% $font-stack;
    color: #fff;
    background-color: $secondary-color;
  }
}

td {
  vertical-align: middle !important;
  border-top: $border-table !important;
}

img {
  background-color: $background-color;
  height: auto;
  width: 50px;
  margin-right: 20px;
  border: $border-img;
  border-radius: $border-radius;
}

i {
  cursor: pointer;
}

.left-align {
  float: left;
  margin-left: 30%;
}
